h1 Hello, world!
p Welcome to your new single-page application, built with:
ul
  li
    a(href='https://get.asp.net/') ASP.NET Core
    |  and 
    a(href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx') C#
    |  for cross-platform server-side code
  li
    a(href='https://angular.io/') Angular
    |  and 
    a(href='http://www.typescriptlang.org/') TypeScript
    |  for client-side code
  li
    a(href='http://getbootstrap.com/') Bootstrap
    |  for layout and styling

