.container
  form.card([formGroup]='form', (ngSubmit)='submit()')
    h1 Contacts Forms
    .form-control
      label Email
      input(type='text', placeholder='Email', formControlName='email')
      app-spinner(*ngIf="form.get('email').pending")
      .validation(*ngIf="form.get('email').invalid && form.get('email').touched")
        small(*ngIf="form.get('email').errors.required") Поле Email не может быть пустым
        small(*ngIf="form.get('email').errors.email") Введите корректный email
        small(*ngIf="form.get('email').errors.restrictedEmail") {{form.get('email').value }} запрещен
        small(*ngIf="form.get('email').errors.uniqueEmail") {{form.get('email').value }} уже использовался
    .form-control
      label Комментарий
      textarea(rows='4', cols='50', placeholder='Комментарий', formControlName='comment', maxlength='250' )
      .validation(*ngIf="form.get('comment').invalid && form.get('comment').touched")
        small(*ngIf="form.get('comment').errors.required")
          | Комментарий не может быть пустым
        small(*ngIf="form.get('comment').errors.minlength")
          | Длинна должна быть не менее {{form.get('comment').errors.minlength.requiredLength}} текущая длина {{form.get('comment').errors.minlength.actualLength}}
    .card(formGroupName='address')
      h2 Адрес 
      .form-control
        label Страна
        select(formControlName='country')
          option(value='ru') Россия
          option(value='ua') Украина
          option(value='by') Беларусь
      .form-control
        input(type='text', placeholder='Город', formControlName='city')
      .validation(*ngIf="form.get('address').get('city').invalid && form.get('address').get('city').touched")
        small(*ngIf="form.get('address').get('city').errors.required")
          | Город не может быть пустым
      button.btn(type='button', (click)='setCapital()') Выбрать столицу
    .card(formGroupName='tags')
      h2 Добавте теги
      button.btn(type='button', (click)='addTag()') Добавить тег
      .form-control(*ngFor="let control of form.get('tags').controls; let idx = index")
        label тег {{idx + 1}}
        input(type='text', [formControlName]='idx')   
    .form-control
      label Получать новости
      app-switch(formControlName='sendNews')    
    .form-control
      label Пол
      small мужской
        input(type="radio", name="gender", value="1", formControlName='gender')
      small женский
        input(type="radio", name="gender", value="0", formControlName='gender')
    .form-control
      label Согласие
        input(type='checkbox', formControlName='accept')
        .validation(*ngIf="form.get('accept').invalid && form.get('accept').touched")
          small(*ngIf="form.get('accept').errors.required")
            | Необходимо дать согласие

    button.btn([disabled]='form.invalid || form.pending', type='submit') Отправить

p.error(*ngIf="error; else listBlock") {{error}}
//TODO move to seporate component with navigation
ng-template(#listBlock)
  .container
    div(*ngIf="!loading; else loadingBlock")
      div(*ngIf="!!contacts && contacts.length; else noContacts")
        .card(*ngFor="let contact of contacts; let i = index", [attr.data-index]="i")
          h2 {{i+1}} 
            a(href='mailto:{{contact.email}}?subject=Привет%20контакт') Отправить письмо {{contact.email}}
            br
            small {{contact.comment}} 
          input(type='button', value='Удалить',(click)='delete(contact.id)')

ng-template(#loadingBlock)
  p Загрузка
ng-template(#noContacts)
  p Нет контактов
