div {
    display: inline-block;  
}

div button{
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background: red;
    border: none;
}

div button.active{   
    background: green;   
}